.epicButton {
	font-size: 1rem;
	font-weight: 700;
	background-color: #db6558;
	border: 2px solid #db6558;
	border-radius: 6px;
	cursor: pointer;
}

.button {
	margin: 5px;
}

.epicButton:active {
	background-color: transparent;
	border-color: white;
	color: white;
}
