.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 85%;
	margin-top: 0px;
}

.container h2 {
	font-family: 'Miriam Libre Bold';
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 0px;
}
