.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 85%;
	margin-top: 0px;
}

.container h2 {
	font-family: 'KanitBold';
	font-size: 1.6rem;
	font-weight: 700;
	margin-bottom: 0px;
}

@media screen and (min-width: 600px) {
	.container p {
		font-size: 1.2rem;
	}
}
