@font-face {
	font-family: 'KanitMedium';
	src: local('KanitMedium'), url('./assets/fonts/kanit/Kanit-Medium.ttf') format('truetype');
	font-weight: 500;
}

@font-face {
	font-family: 'KanitBold';
	src: local('KanitBold'), url('./assets/fonts/kanit/Kanit-Bold.ttf') format('truetype');
	font-weight: 700;
}

@font-face {
	font-family: 'KanitRegular';
	src: local('KanitRegular'), url('./assets/fonts/kanit/Kanit-Regular.ttf') format('truetype');
	font-weight: 400;
}

:root {
	font-family: 'KanitRegular', sans-serif;
	font-size: 16px;

	color: rgba(255, 254, 254, 0.87);
	background-color: #4284db;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}
